@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Madimi One', system-ui, sans-serif;
  background-color: black;
  color: white;
}

.text-display {
  font-size: 3rem;
  line-height: 1.2;
}

.text-title {
  font-size: 2rem;
  line-height: 1.2;
}

.text-subtitle {
  font-size: 1.5rem;
  line-height: 1.4;
}

.text-body {
  font-size: 1rem;
  line-height: 1.6;
}